<!doctype html>
<html>
<head>
    <title>Accounts Manager</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body class="middle">
<header id="header">
  <nav>
    <div class="container">
      <div class="text-center">
        <a href="#"class="mav-brand text-dark">Accounts Manager</a>
      </div>
    </div>
  </nav>
</header>

<main id="main">
  <div class="container">
    <div class="box-nav d-flex-justify-between">
        <div>
            <a href="/profile"></i>All Users</a>
        </div>
    </div>
  </div>
</main>

<form action="/createUser" method="POST" id="createUser">
<div class="createUser">
    <div class="form-group">
        <label for="name" class="text-light">Name</label>
        <input type="hidden" name="id" value="">
        <input type="text" name="name" value="" placeholder="John Doe">
    </div>
    <div class="form-group">
        <label for="email" class="text-light">Email</label>
        <input type="text" name="email" value="" placeholder="ex@example.com">
    </div>
    <div class="form-group">
        <div class="radio inline">
            <input type="radio" name="permissions" value="Basic">
            <label for="permissions" class="text-light">Basic</label>
        </div>
        <div class="radio inline">
            <input type="radio" name="permissions" value="Advanced">
            <label for="permissions" class="text-light">Advanced</label>
        </div>
        <div class="radio inline">
            <input type="radio" name="permissions" value="Banned">
            <label for="permissions" class="text-light">Banned</label>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn text-dark update">Save</button>
    </div>
</div>
</form>
<!-- <div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Users Page</h1>
        <a href="/" class="btn btn-default btn-sm">Logout</a>
    </div>
</div> -->
<script src="main.js"></script>

</body>
</html>
